[Desktop Entry]
Encoding=UTF-8
Name=Bitcoin Core
Comment=Connect to the Phantom P2P Network
Exec=phantom-qt %u
Terminal=false
Type=Application
Icon=phantom128
MimeType=x-scheme-handler/phantom;
Categories=Office;Finance;
